[tool.black]
line-length = 100
target-version = ["py312"]

[tool.ruff]
line-length = 100
extend-exclude = ["alembic/versions"]
select = ["E", "F", "I", "W", "B"]

[tool.mypy]
python_version = "3.12"
ignore_missing_imports = true
pretty = true
warn_unused_ignores = true
